.board{
    min-height: 80vh;
    width: 60vh;
    /* border: 1px solid #999; */
    padding-top: 5vh;
    z-index: 2;
}

.row{
    display: flex;
    flex-direction: row;
}

.square{
    background-color: #fff;
    height: 20vh;
    width: 20vh;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    border-radius: 2vh;
}

.controls{
    /* height: 20vh; */
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.controls button{
    width: 6rem;
    height: 4rem;
    margin: 2rem 2rem;
    background-color: #fff;
    border-radius: 1rem;
    border: none;
    /* border: 1px solid #999; */
    /* box-shadow: 0px 6px 0px #999; */
    z-index: 2;
    font-size: 1rem;
    font-weight: 600;
    
}

.snackbar{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
    background: #999;
    font-size: 2rem;
    height: 100%;
    width: 100%;
    padding-left: 33%;
    padding-top: 33%;
}