.board{
    height: 60vh;
    width: 60vh;
    /* border: 1px solid #999; */
}

.row{
    display: flex;
    flex-direction: row;
}

.square{
    height: 20vh;
    width: 20vh;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}